<ion-header>
	<ion-navbar>
		<ion-title>{{song.name}}</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-list>
		<ion-item class="centerElement">
			<ion-img width="180" height="180" cache="true" src="{{deezerAvailable && songImg || 'assets/imgs/placeholder180x180.jpg'}}"></ion-img>
		</ion-item>
		<ion-item *ngIf="available;" class="centerElement">
			<audio-track #audio *ngFor="let track of myTracks"  [track]="track">
				<audio-track-play  dark [audioTrack]="audio"><ion-spinner></ion-spinner></audio-track-play>  
				<audio-track-progress-bar dark duration progress [audioTrack]="audio"></audio-track-progress-bar>
			</audio-track>
		</ion-item>
		<ion-item>
			<ion-input [(ngModel)]="song.name" type="text" placeholder="Nome da música"></ion-input>
			<button *ngIf="deezerAvailable;" ion-button (click) = "searchDeezer()" item-content round>
				<ion-icon name="md-search"></ion-icon> 
			</button>
		</ion-item>
		<ion-item>
			<ion-input [(ngModel)]="song.artist" type="text" placeholder="Artista"></ion-input>
		</ion-item>
		<ion-item>
			<ion-input [(ngModel)]="songTag" type="text" placeholder="TagList"></ion-input>
			<button ion-button (click) = "newTag()" item-content round>
				<ion-icon class="newTag" name="md-add"></ion-icon> 
			</button>
		</ion-item>
		<ion-item *ngIf="song.tag.length > 0;">
			<div *ngFor="let tag of song.tag" class="tagContainer">
				<ion-badge class="tag">
					{{tag}}
					<ion-icon name="close" (click) = "removeTag(tag)" class="tagIcon"></ion-icon> 
				</ion-badge>
			</div>
		</ion-item>
		<ion-item>
			<h2>Habilidade:</h2>
			<rating [(ngModel)]="song.rate" 
			class="centerElement"
			readOnly="false"
			max="5"
			emptyStarIconName="star-outline"
			halfStarIconName="star-half"
			starIconName="star" 
			nullable="false">
		</rating>
	</ion-item>
	<ion-item>
		<ion-label color="primary">Notas:</ion-label>
		<ion-textarea [(ngModel)]="song.notes" placeholder="Afinação, técnicas, trechos, ..."></ion-textarea>
	</ion-item>
	<br>
	<div class="centerElement">
		<button ion-button (click) = "clearDeezerInfo()" class="ionButton">Limpar dados</button>
	</div>
	<div class="centerElement">
		<button ion-button (click) = "editSong()"  class="ionButton">Alterar</button>
	</div>
</ion-list>
</ion-content>