page-edit-song {
	.tagContainer{
		float: left;
		padding-left:16px;
	}
	.centerElement{
		text-align: center;
	}
	.tag{
		margin-right: 1em;
		margin-bottom: 0.5em;
	}
	.tagIcon{
		margin-left: 0.5em;
	}
	.ionButton{
		width:100%;
	}
	.newTag{
		padding-left:1px;
		padding-right:1px;
	}
	ul {
		padding: 0px;
		&.rating li {
			padding: 5px 10px !important;
			background: none;
			color: #ffb400;
			ion-icon {
				font-size: 30px;
			}
		}
	}
}